

#mainTitle{
	text-align: center;
	font-size: 40pt;
	color: #519EA3;
	margin-top: 20px;
	margin-bottom: 20px; 
}

.navbar-brand {
    position-fixed;
	margin-left: 50px;
	font-size: 25px;
}

.nav-item {
	margin-left: 10px;
	font-size: 20px;
}

.tab_item {
	text-align: center;
}


#salir {
	margin: 0 auto;
    margin-left: 600px;
    align-items: right;
}

iframe {
    border: 5px solid;
    border-color: #519EA3;
    margin : 20px;
}


.btn-outline-secondary:hover{
	background-color: #519EA3; !important;
}

.input-group{
	margin-top: 50px;
}

.input-group-text{
	color: white;
	background-color: #519EA3;
	text-align: center;
	border: 10px;
}